<!DOCTYPE html>
<html ng-app="qontour">
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Qontour</title>
    <script src="static/support/angular.min.js" language='javascript'></script>
    <!-- <script src="static/js/services.js" language='javascript'></script>     -->
    <!-- <script src="static/js/controllers.js" language='javascript'></script> -->
    <!-- <script src="static/js/filters.js" language='javascript'></script>      -->
    <!-- <script src="static/js/directives.js" language='javascript'></script>   -->
    <script src="static/js/qontour.js" language='javascript'></script>
    <script src=
      "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" language=
      'javascript'></script>
    <!--
    <script src="static/js/qontour.js" language='javascript'></script>
    -->
  </head>
  <body>
    <h1>Qontour</h1>
    Search <input ng-model="q" name="q" type="text" placeholder="Describe an image"></input>
    <div ng-controller="ImageListCtrl">
      <div ng-repeat="image in imageResults | filter:q">
        <div><img src="{{image.url}}"></div>
        <div>{{image.label}}</div>
      </div>
    </div>
  </body>
</html>
